.pixi{
  display: flex;
  align-items: center;

  .toolbar-container{
    position: absolute; 
    z-index: 1;
    width: auto;
    border: 1px solid #ebebeb;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

    .icon-container{
      padding: 0.4rem;
      cursor: pointer;

      img{
        width: 2rem;
      }
    }
  }

  .canvas-outer-container{

  }

  .control-panel{
    width: 18rem;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #a3a3a3;
    position: absolute;
    right: 0;
  }
}